*,*::before,*::after{
    box-sizing: border-box;
}

:root{
    --pri-color-dark-1: hsl(185, 75%, 39%);
    --pri-color-dark-2: hsl(229, 23%, 23%);
    --pri-color-dark-3: hsl(227, 10%, 46%);
    --neut-color-1: hsl(0, 0%, 59%);
    --fw-reg: 400;
    --fw-bold: 700;
}

body{
    background-color: var(--pri-color-dark-1);
    height: 100vh;
    display: grid;
    place-items: center;
    background-image: url('bg-pattern-top.svg'), url('bg-pattern-bottom.svg');
    background-position: calc(50% - 60vw) calc(50% - 60vh), calc(50% + 60vw) calc(50% + 60vh);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    overflow: hidden;
    font-family: 'Kumbh Sans', sans-serif;
}


.card-comp{
    width: 80%;
    max-width: 375px;
    border-radius: 30px;
}

.top{
    background-image: url('bg-pattern-card.svg');
    background-color: #fff;
    position: relative;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    border: 4px solid white;
    margin: 0 auto;
    transform: translate(0, 50%);
}

.user-details{
    border-bottom: 1px solid var(--neut-color-1);
    text-align: center;
    padding: 3em 0;
}

.user-age,
.user-stat-type,
.user-location{
    color: var(--neut-color-1)
}

.user-stats{
    display: flex;
    justify-content: space-around;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
}

.user-stats,
.user-details{
    background-color: #fff;
}

.user-stat-count{
    font-size: 1.4rem;
    font-weight: var(--fw-bold);

}

@media screen and (min-width: 900px) {
    body{
        background-position: calc(50% - 60vh) calc(50% - 60vw), calc(50% + 60vh) calc(50% + 60vw);
    }
}